<h1>お仕事日程・履歴</h1>

<table>
	<thead>
		<tr>
			<th>作業期間</th>
			<th>お仕事</th>
			<th>作業場所</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		<tr>
			<td><%= order.item.work_period %></td>
			<td><%= order.item.item_name %></td>
			<td><%= order.item.place %></td>
		</tr>
		<% end %>
	</tbody>
</table>