<div class="container">
	<div class="row">
		<div class="col-xs-7 col-xs-offset-3">
			<h1>お仕事日程・履歴</h1>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="active">作業期間</th>
						<th class="active">お仕事</th>
						<th class="active">作業場所</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
					<tr>
						<td><%= order.item.work_period %></td>
						<td><%= order.item.item_name %></td>
						<td><%= order.item.place %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= link_to "Back", users_mypage_path %>
		</div>
	</div>
</div>

