/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.body {
  margin-top: 100px;
}

.like-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #e54747;
 margin-left: 20px;
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
color: #808080;
 margin-left: 20px;
 }

.nav span {
  color: #999999;
  font-size: 35px;
}

.new-sign {
  margin-bottom: 20px;
}
.sign-up-name {
  margin-left:155px;
}

.sign-up-postal-code {
  margin-left:50px;
}

.sign-up-telephone_number {
  margin-left:51px;
}

.sign-up-email {
  margin-left:100px;
}

.sign-up-password {
  margin-left:43px;
}

.sign-up-password_confirmation {
  margin-left:78px;
}

.sign-up-adress {
  margin-left:170px;
}

.actions {
  margin-top:15px;
}

.sign-in-email {
  margin-left: 50px;
}

.sign-in-password {
  margin-left: 77px;
}


.btn-social-isometric {
  color: #484848;
  display: inline-block;
  height: 50px;
  font-size: 25px;
  line-height: 46px;
  background: #eaeef1;
  text-decoration: none;
  box-sizing: border-box;
  margin: 1em;
}
.btn-social-isometric-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
}
.btn-social-isometric-icon i {
  line-height: 46px;
  font-size: 25px;
}
.btn-social-isometric-text {
  display: inline-block;
  width: 120px;
  height: 50px;
  text-align: center;
  border-bottom: solid 4px #dcdcdc;
}
.btn-social-isometric-icon--twitter {
  background:#1da1f3;
  border-bottom: solid 4px #1484ca;
}
.btn-social-isometric-icon--facebook {
  background:#3b75d4;
  border-bottom: solid 4px #2a5caf;
}
.btn-social-isometric-icon--feedly {
  background:#7ece46;
  border-bottom: solid 4px #65b130;
}
.btn-social-isometric-icon--pocket {
  background:#fd7171;
  border-bottom: solid 4px #ef4d4d;
}
.btn-social-isometric:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}
.btn-social-isometric:hover .btn-social-isometric-text, .btn-social-isometric:hover .btn-social-isometric-icon {
  border-bottom: none;
}


.sns {
  text-align: center;
  margin-top: 50px;
}