/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.body {
	margin-top: 100px;
}

.like-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #e54747;
 margin-left: 20px;
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
color: #808080;
 margin-left: 20px;
 }

.nav span {
	color: #999999;
	font-size: 35px;
}

.new-sign {
	margin-bottom: 20px;
}
.sign-up-name {
	margin-left:155px;
}

.sign-up-postal-code {
	margin-left:50px;
}

.sign-up-telephone_number {
	margin-left:51px;
}

.sign-up-email {
	margin-left:100px;
}

.sign-up-password {
	margin-left:43px;
}

.sign-up-password_confirmation {
	margin-left:78px;
}

.sign-up-adress {
	margin-left:170px;
}

.actions {
	margin-top:15px;
}

.sign-in-email {
	margin-left: 50px;
}

.sign-in-password {
	margin-left: 77px;
}