// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav span {
	color: #999999;
	font-size: 35px;
}

.top-img {
text-align: center;
margin-bottom: 50px;
}

p {
text-align: center;
}

h2 {
text-align: center;
}

h3 {
text-align: center;
}

h4 {
text-align: center;
}

.container {
	text-align:center;
}

.view {
	margin: 50px 100px;
}