// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-image {
text-align: center;
margin-top: 50px;
}

p {
text-align: center;
}

h2 {
text-align: center;
}

h3 {
text-align: center;
}

h4 {
text-align: center;
}

.container {
	text-align:center;
}

.view {
	margin: 50px 100px;
}

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
    content: "★" !important;
    font-size: 14px !important;
    color: rgb(60, 60, 60) !important;
    }
  }
}