// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-image {
	margin: 50px 50px;
}

.new-item-name {
	margin-bottom: 20px;
}


.new-introduction {
	margin-bottom: 20px;
}


.new-work-period {
	margin-bottom: 20px;
}

.new-work-time {
	margin-bottom: 20px;
}


.new-place {
	margin-bottom: 20px;
}

.people {
	margin-bottom: 20px;
}

.salary {
	margin-bottom: 20px;
}

.payment {
	margin-bottom: 20px;
}

.new-item {
	margin-top: 5px;
}

.attention {
	color: red;
}