// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name-edit {
	margin-left: 120px;
}

.postal_code-edit {
	margin-left: 14px;
}

.adress-edit {
	margin-left: 134px;
}

.telephone_number-edit {
	margin-left: 15px;
}

.email-edit {
	margin-left: 68px;
}

.edit-create {
	margin-top: 20px;
}